nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

footer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

img {
    height: 500px;
    width: 200px;
    object-fit: contain;
}

.welcome {
    text-align: center;
}

.carousel-caption {
    position: static;
    color: black;
}

.card img {
    height: auto;
}



